[submodule "References/rsl_rl"]
	path = References/rsl_rl
	url = https://github.com/yunho-c/rsl_rl
[submodule "References/mujoco_playground"]
	path = References/mujoco_playground
	url = https://github.com/google-deepmind/mujoco_playground
[submodule "References/DeepRL-Main"]
	path = References/DeepRL-Main
	url = https://github.com/yunho-c/DeepRL
[submodule "References/DeepRL-DAC"]
	path = References/DeepRL-DAC
	url = https://github.com/yunho-c/DeepRL
	branch = DAC
